.body{
    font-size:1 rem;
    background-color: 	#ADD8E6;
}

.container{
    padding:1.5
}

.flex-container{
    display:flex;
   
}
.flex-container{
  
    flex-direction: row;
    justify-content: center;

}

.site-header1{
    border: 4px;
    

}
.main{
    
    justify-content: flex-end;
    align-content: space-around;
    border:1px;
    padding:30px;
    margin:20px;
    flex-direction: column;

}
.child{
    flex:1;
    border:1px solid rgb(74, 71, 255);
    padding: 30px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
}
.content{

    justify-content:flex-start;
    align-items:center;
    flex-flow:column nowrap;
}
.content-child{
    padding:5px;
}
.image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin-top: 20px;
}

.image-grid img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}
